<?xml version="1.0" ?>
<robot name="montessori_object_6" version="1.0">
  <link name="montessori_object_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.021205751225352287"/>
      <inertia ixx="2.7832547857542522e-06" ixy="0.0" ixz="0.0" iyy="2.7832547857542522e-06" iyz="0.0" izz="2.385646894254023e-06"/>
    </inertial>
    <visual name="MontessoriObject6">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.014999999664723873" length="0.029999999329447746"/>
      </geometry>
      <material name="MontessoriObject6_material">
        <color rgba="0.87 0.94 0.98 1.0"/>
      </material>
    </visual>
  </link>
</robot>