<?xml version="1.0" ?>
<robot name="montessori_object_3" version="1.0">
  <link name="montessori_object_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.007762392051517963"/>
      <inertia ixx="5.071946702628338e-07" ixy="0.0" ixz="0.0" iyy="5.071946702628338e-07" iyz="0.0" izz="5.071946702628338e-07"/>
    </inertial>
    <visual name="MontessoriObject3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01979999989271164 0.01979999989271164 0.01979999989271164"/>
      </geometry>
      <material name="MontessoriObject3_material">
        <color rgba="0.87 0.94 0.98 1.0"/>
      </material>
    </visual>
  </link>
</robot>