<?xml version="1.0" ?>
<robot name="montessori_object_1" version="1.0">
  <link name="montessori_object_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.0060821231454610825"/>
      <inertia ixx="7.44046417366917e-07" ixy="0.0" ixz="0.0" iyy="7.44046417366917e-07" iyz="0.0" izz="1.4718738157171174e-06"/>
    </inertial>
    <visual name="MontessoriObject1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.02199999988079071" length="0.004000000189989805"/>
      </geometry>
      <material name="MontessoriObject1_material">
        <color rgba="1.0 0.83 0.67 1.0"/>
      </material>
    </visual>
  </link>
</robot>